@define-color bg    #24283b;
@define-color fg    #a9b1d6;
@define-color black   #32344a;
@define-color red   #f7768e;
@define-color green   #9ece6a;
@define-color orange   #ff9e64;
@define-color blue   #7aa2f7;
@define-color magenta   #bb9af7;
@define-color cyan   #7dcfff;
@define-color brblack #444b6a;
@define-color white #ffffff;

* {
  font-family: "JetBrainsMono NF";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces button {
  padding: 0 6px;
  color: @cyan;
  background: transparent;
  border-bottom: 3px solid @bg;
}
#workspaces button.active {
  color: @cyan;
  border-bottom: 3px solid @orange;
}
#workspaces button.empty {
  color: @white;
}
#workspaces button.empty.active {
  color: @cyan;
  border-bottom: 3px solid @orange;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#custom-sep,
#tray {
  padding: 0 10px;
  color: @white;
}

#custom-sep {
  color: @brblack;
}

#custom-intsep {
  color: @magenta;
}

#clock {
  color: @green;
}

#cpu,
#temperature {
  color: @orange;
}

#memory,
#disk,
#custom-nvidia {
  color: @orange;
  padding-left: 10px;
  padding-right: 10px;
}

#network {
  color: @blue;
}

#network.disconnected {
  background-color: @red;
}

#custom-keymap {
  color: @orange;
}
