[user]
	name = Dag Østgulen Heradstveit
	email = 190020+scav@users.noreply.github.com
    signingkey = 129C9B68C68200BE
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore
