[user]
	name = Dag Østgulen Heradstveit
	email = 190020+scav@users.noreply.github.com
 	signingkey = 5EBF729B861D8690
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore
